body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container {
    border: 1px solid black;
    width: 50vw;
    background-color: whitesmoke;
}

.inputBox {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}